// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article-menu-item {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #4facfe;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 18px;
}

.background {
  width: 650px;
  background-color: white;
  margin: 40px 0px;
  padding: 30px 50px;
  border-radius: 30px;
  position: relative;
}

.background {
  background-color: black;
}

h1, h2, h3, h4 {
  font-family: 'system-ui';
  font-weight: 200;
}


.content {
  margin-bottom: 50px;
}

h1 {
  color: black;
}

a {
  color: #4facfe;
}

a:hover {
  color: #4facfe;

}


.space {
  height: 50px;
}

.article-title {
  color: #4facfe;
  margin-top: 40px;
}

.article-menu {
  width: 90%;
  position: absolute;
  top: -20px;
  display: flex;
  justify-content: space-between;
}

.article-menu-item {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #4facfe;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 18px;
}

.article-menu-item a {
  color: white;
}

.right-menu-right {
  display: flex;
}

.button {
  background-color: #4facfe;
  border-radius: 35px;
  font-size: 18px;
  padding: 10px 15px;
  margin: 20px 0px;
  text-align: center;
  flex-grow: 1;
  color: white;
  border: none;
}

#new_restaurant {
  width: 100%;
}

